<p>
    <a href="#/" >Back to Search</a>
</p>

<h1 >Forecast for {{ city }}</h1>
<hr />
Days: <a href="#/forecast/3" ng-class="{'bg-primary': days == 3}">3</a> | <a href="#/forecast/5" ng-class="{'bg-primary': days == 5}">5</a> | 
<a href="#/forecast/7" ng-class="{'bg-primary': days == 7}">7</a>
<hr/>

<div ng-repeat="w in weatherResult.list">
    
    <div class="row">
        <div class="dol-md-12">
            <weather-report weather-day="w" convert-to-standard="convertToFahrenheit(dayTemp)" convert-to-date="convertToDate(date)" date-format="MMM d,y"></weather-report>
<!--    
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"> {{ converToDate(w.dt) | date: 'MMM d, y'}}</h3>
                </div>
                <div class="panel-body">
                    Day temprature: {{ convertTOFahrenheit(w.temp.day)}}
                </div>
            </div>
-->
        </div>
    </div>
    
</div>