<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"> {{ convertToDate({date: weatherDay.dt}) | date: dateFormat}}</h3>
    </div>
    <div class="panel-body">
        Day temprature: {{ convertToStandard({dayTemp: weatherDay.temp.day}) }}
    </div>
</div>
